<% if current_user %>
  <%= link_to('logout', destroy_user_session_path, :method => :delete) %> |
  <%= link_to('forget password', edit_registration_path(:user)) %>
<% else %>
  <%= link_to('sign up', new_registration_path(:user)) %> |
  <%= link_to('login', new_session_path(:user)) %>
<% end %>
</br>
</br>

<%= link_to 'New Post', new_post_path %>
</br>
<% @posts.each do |post| %>
  <li>
    <%= post.title %> </br>
    <%= post.content %> </br>
    <%= post.created_at %> </br>

    <%= link_to "Show", post_path(post) %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= button_to 'Delete', post_path(post), :method => :destroy %>
  </li>
<% end %>
</ul>

