<%= link_to 'Edit', edit_post_path(@post) %>
<%= button_to 'Delete', post_path(@post), :method => :destroy %>
<%= @post.title %>
<%= simple_format(@post.content) %>
<%= @post.created_at %> </br>

<%= form_for @newcomment, :url => { :controller => 'newcomments', :action => 'create' } do |newcomment| %>
    <%= newcomment.label :comment_content, "comment_content" %>
    <%= newcomment.text_area :comment_content %>

    <%= newcomment.submit "Create" %>
<% end %>


<p><%= link_to 'Back to index', :controller => 'posts', :action => 'index' %></p>